html {
	background-color: #f9f9f9;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.textcenter {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

.credits, .clear {
	clear: both;
}

.partition {
	padding: 0 10px;
}

.focus {
	background: #0fc;
}

.half {
	width: 50%;
}

.hide {
	display: none;
}

.split {
	color: #B6D1E4;
}

#header h1 a:link, #header h1 a:visited, #user-info a:link, #user-info a:visited, #footer a:link, #footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/*---- My ICON ----*/
.sexybutton span.logout {
	background-image: url(images/icons/silk/user_go.png) !important;
}

.sexybutton span.lock {
	background-image: url(images/icons/silk/lock.png) !important;
}
.sexybutton span.lock-open {
	background-image: url(images/icons/silk/lock_open.png) !important;
}

.sexybutton span.group {
	background-image: url(images/icons/silk/group.png) !important;
}

.sexybutton span.sound {
	background-image: url(images/icons/silk/sound.png) !important;
}

.sexybutton span.sound-off {
	background-image: url(images/icons/silk/sound_mute.png) !important;
}

.sexybutton span.config {
	background-image: url(images/icons/silk/cog.png) !important;
}

.sexybutton span.help {
	background-image: url(images/icons/silk/help.png) !important;
}
.sexybutton span.mail {
	background-image: url(images/icons/silk/email.png) !important;
}
.sexybutton span.phone {
	background-image: url(images/icons/silk/phone_sound.png) !important;
}
.sexybutton span.page {
	background-image: url(images/icons/silk/page.png) !important;
}
.sexybutton span.heart {
	background-image: url(images/icons/silk/heart.png) !important;
}

/*---- 输入框焦点 ----*/
.text-focus {
	-moz-box-shadow: 0 4px 18px #3399FF;
	-webkit-box-shadow: 0 4px 18px #3399FF;
}

.text-nofocus {
	-moz-box-shadow: 0 4px 18px #666666;
	-webkit-box-shadow: 0 4px 18px #666666;
}