/*
 Container.css
 by dijingchao
 */
#container {
	float: left;
	font-size: 1.1em;
	line-height: 1.7em;
	min-height: 500px;
	padding: 5px;
	width: 84%;
	margin-left: 10px;
}

.content_head {
}

.content_left {
	width: 58%;
	float: left;
}

.content_left div {
	height: 378px;
	overflow: auto;
}

.content_right {
	width: 36%;
	float: right;
}

#message {
	float: left;
	font-size: 1.2em;
	margin: 0 20px;
	text-align: center;
	width:34%;
}